Body{   
    
}

.footer{
    height: 162px;
    background-color: darkgrey;
}

nav{
    margin-bottom: 60px
}

.logo{
    margin-top: 10px;
    text-align: center;
}   

.card{
    float: left;
    margin-left: 120px;
    transition: all 350ms ease;
}

.card:hover{
    transform: translateY(-3%);
}

.Historia{
    color: Black;
}

.Profesor{
    transition: all 400ms ease;
    width: 450px;
}

.Profesor:hover{
    transform: translateY(-3%);
}

.containerL{
    width: 91%;
    align-content: center;
}

.container{
    text-align: center;
}

.card2{
    text-align: center;
    margin-left: 300px;
}